/* @import url("https://fonts.googleapis.com/css?family=Nunito+Sans"); */
.ui.menu {
    margin-top: 0;
}

.margin-top-none { margin-top: 0;    }
.margin-top-s    { margin-top: 8px;  }
.margin-top-base { margin-top: 16px; }
.margin-top-m    { margin-top: 24px; }
.margin-top-l    { margin-top: 32px; }
.margin-top-xl   { margin-top: 40px; }

.ui.menu .item.lang-dropdown{
    text-transform: uppercase;
}
.resize-container {
    min-height: calc(100vh - 330px);
}
.footer {
    height: 223px;
}
